.main {
  width: 100vw;
  height: 100vh;
  color: var(--chakra-colors-gray-100);
  background-color: var(--chakra-colors-gray-700);
}

.ResizeHandle,
.VerticalResizeHandle,
.ResizeHandleCollapsed .VerticalResizeHandleCollapsed {
  transition: 250ms linear background-color;
  background-color: transparent;
  outline: none;
}

.ResizeHandle,
.ResizeHandleCollapsed {
  width: 0.25rem;
  background-color: transparent;
}

.VerticalResizeHandle,
.VerticalResizeHandleCollapsed {
  height: 0.25rem;
  background-color: transparent;
}

.ResizeHandle:hover,
.ResizeHandle[data-resize-handle-active],
.ResizeHandleCollapsed:hover,
.ResizeHandleCollapsed[data-resize-handle-active],
.VerticalResizeHandle:hover,
.VerticalResizeHandle[data-resize-handle-active],
.VerticalResizeHandleCollapsed:hover,
.VerticalResizeHandleCollapsed[data-resize-handle-active] {
  background-color: var(--chakra-colors-blue-500);
}

.ResizeHandleCollapsed,
.VerticalResizeHandleCollapsed {
  background-color: transparent;
}