.Wrapper {
  list-style: none;
  box-sizing: border-box;
  padding-left: var(--spacing);
  margin-bottom: -1px;
  cursor: pointer;

  button[data-cypress="draggable-handle"] {
    opacity: 0.2;
    transition: opacity 0.3s;
  }

  &:hover {
    button[data-cypress="draggable-handle"] {
      opacity: 1;
    }

    background-color: var(--chakra-colors-gray-800);
  }

  &.clone {
    display: inline-block;
    pointer-events: none;
    padding: 0;
    padding-left: 10px;
    padding-top: 5px;

    .TreeItem {
      --vertical-padding: 4px;

      padding-right: 24px;
      border-radius: 4px;
    }
  }

  &.ghost {
    &.indicator {
      opacity: 1;
      position: relative;
      z-index: 1;
      margin-bottom: -1px;

      .TreeItem {
        position: relative;
        padding: 0;
        height: 2px;
        border-color: var(--chakra-colors-blue-500);
        background-color: var(--chakra-colors-blue-500);

        &:before {
          position: absolute;
          left: -4px;
          top: -2px;
          display: block;
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--chakra-colors-blue-500);
        }

        >* {
          /* Items are hidden using height and opacity to retain focus */
          opacity: 0;
          height: 0;
        }
      }
    }

    &:not(.indicator) {
      opacity: 0.5;
    }

    .TreeItem>* {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.TreeItem {
  --vertical-padding: 4px;

  position: relative;
  display: flex;
  align-items: center;
  padding: var(--vertical-padding) 10px;
  color: var(--chakra-colors-gray-100);
  font-size: 12px;
  box-sizing: border-box;
}

.Text {
  flex-grow: 1;
  padding-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Count {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--chakra-colors-blue-500);
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.disableInteraction {
  pointer-events: none;
}

.disableSelection,
.clone {

  .Text,
  .Count {
    user-select: none;
    -webkit-user-select: none;
  }
}

.Collapse {
  svg {
    transition: transform 250ms ease;
  }

  &.collapsed svg {
    transform: rotate(-90deg);
  }
}

.menu {
  background-color: var(--chakra-colors-gray-800);
  color: var(--chakra-colors-gray-100);
  padding: 6px;
}

.menuItem {
  padding: 6px 8px;
}

.menuItemHover {
  padding: 6px 8px;
  background-color: var(--chakra-colors-blue-500);
}